# D06_problem_02

## 문제
>모든 인수의 합계를 반환하는 함수를 만드세요. 입력 값은 함수에 대한 매개 변수로 인덱스와
함께 점차 증가합니다.

In [ ]:
# 예시 1
add(3, 4, 5) # returns (3*1)+(4*2)+(5*3)=26

# 예시 2
add() #=> 0
add(1,2,3) #=> 14
add(1,4,-5,5) #=> 14


# 유의
인수가 없으면 0을 반환합니다.

In [95]:
def add(*n):
    return sum([i*(idx+1) for idx, i in enumerate(n)])

print(add(3, 4, 5, 6, 7))
print(add(2, 5, 5, 7, 7))
print(add())
print(add(1,2,3))
print(add(1,4,-5,5))

85
90
0
14
14

In [91]:
def add(*n):
    return sum([n[i]*(i+1) for i in range(len(n))])

print(add(3, 4, 5, 6, 7))
print(add(2, 5, 5, 7, 7))
print(add())
print(add(1,2,3))
print(add(1,4,-5,5))

85
90
0
14
14

## 문제

>같은 숫자가 한개 있거나 두개가 들어있는 리스트가 주어집니다. 이러한 리스트에서 숫자가 한개만있는 요소들의 합을 구하는 함수를 작성하세요.

> 예를 들어, repeats([4, 5, 7, 5, 4, 8]) = 15 는 7과 8이 한번만 나오기 때문에 두개를 더한 15가 결과값으로 도출됩니다.

In [96]:
# 여기에 코드를 작성하세요

def repeats(n):
    return sum([i for i in n if n.count(i) == 1])

print(repeats([4, 4, 7, 8, 10]))

25

## 문제

>과수원에 농부 한명이 썩은 과일이 몇개 들어있는 과일 봉지를 가지고 있습니다. (이 과일 봉지는리스트를 의미합니다) 농부는 썩은 과일 조각들을 모두 신선한 것으로 교체하고 싶어합니다. (rotten과일을 신선한 과일로 바꿔야 합니다)

>예를 들어,
- ["apple","rottenBanana","apple"] 이라는 리스트가 주어진 경우, 대체된 리스트는["apple","banana","apple"]이어야 한다. 당신은 썩은 과일들이 신선한 과일로 대체되어 리스트로 만드는 함수를 작성하는 것입니다.


> 유의
- 만약 리스트가 null/nil/None이거나 비어 있는 경우 빈 리스트를 반환합니다.
- 반환된 리스트는 소문자여야 합니다,

In [97]:
# 여기에 코드를 작성하세요
def remove_rotten(n):
    return [i for i in ' '.join(n).lower().replace('rotten',' ').split(' ') if i]


print(remove_rotten(["apple","rottenBanana","apple"] ))
print(remove_rotten(["rottenapple","rottenBanana","apple", 'rottenGrape']))
print(remove_rotten([]))

['apple', 'banana', 'apple']
['apple', 'banana', 'apple', 'grape']
[]

## 문제

>마을의 신호등을 제어하는 코드를 작성하려고 합니다. 녹색 -> 노란색 -> 빨간색 
-> 녹색으로 변환하는 함수가 필요합니다. 

> 현재의 불빛 상태를 나타내는 인수하고 함수를 실행 시켰을 때 변경 되어야 하는 빛의 색을 
나타내는 함수를 완성하세요.

>예시:update_light('green') should return 'yellow'.

In [103]:
def update_light(color):
    colors = ['red', 'yellow', 'green']
    return colors[colors.index(color)-1]
print(update_light('green'))
print(update_light('yellow'))
print(update_light('red'))

yellow
red
green

In [102]:
def update_light(color):
    dict_c = {'green':'yellow', 'yellow':'red', 'red':'green'}
    return dict_c[color]
print(update_light('green'))
print(update_light('yellow'))
print(update_light('red'))

yellow
red
green

## 문제

>Arara는 셈을 한쌍으로 하는 아마존에 살고 있는 부족입니다. 이들이 행하는 셈의 방식은 다음과 같습니다.

>예를 들어, 1에서 8까지는 셈을 한다면,
- 1 = anane 
- 2 = adak 
- 3 = adak anane 
- 4 = adak adak 
- 5 = adak adak anane 
- 6 = adak adak adak
- 7 = adak adak adak anane
- 8 = adak adak adak adak 

>주어진 숫자 인수를 통해 다음과 같은 함수를 작성하세요.


>예시
- count_arara(3) # -> 'adak anane'
- count_arara(8) # -> 'adak adak adak adak'

In [100]:
# 여기에 코드를 작성하세요
def count_arara(number):
    a = ['adak' for i in range(number//2+1)]

    return 

print(count_arara(5))

None

In [116]:
# 여기에 코드를 작성하세요
def count_arara(number):
    return ('adak '*(number//2)+'anane'*(number%2)).rstrip()

print(count_arara(6))

adak adak adak

## 문제 

> 제 친구 Rora는 그녀가 하고있는 밴드의 이름을 바꾸고 싶어합니다. 
그녀는 "The" + 대문자 명사 형태의 밴드 이름을 원합니다. 예를 들어,"dolphin" -> "The Dolphin"와 같습니다.

> 혹은 앞뒤가 같은 단어인 명사를 반복하여 결합하여 첫번째 문자를 대문자로 시작하는 밴드 이름을 
만들고 싶어합니다. (이때는 앞쪽에 'The'가 없음) 예를 들어, "alaska" -> "Alaskaalaska"과 같습니다.

>명사를 문자열로 하는 함수를 완성하고 선호하는 밴드 이름을 문자열로 표시하세요.

In [109]:
# 여기에 코드를 작성하세요
def band_name_generator(name):
    return ('the '+name).title() if name[0] != name[-1] else (name*2).capitalize()

print(band_name_generator('dolphinyap'))
print(band_name_generator('akala'))

The Dolphinyap
Akalaakala

## 문제

>몇개의 숫자가 주어지면, 사용되지 않은 숫자를 프린트하세요.

>예시
- unused_digits(12, 34, 56, 78) # "09"
- unused_digits(2015, 8, 26) # "3479"

>유의
- 결과값은 정렬되어야 합니다.

In [113]:
# 여기에 코드를 작성하세요
def unused_digits(*n):
    return '# '+''.join(sorted([i for i in '1234567890' if i not in ''.join(map(str, n))]))
print(unused_digits(12, 34, 56, 78))
print(unused_digits(12, 89, 75))

# 09
# 0346

## 문제

>스트링과 함께 섞여있는 문자열들 속에서 정수만 뽑아내 합을 반환하는 함수를 작성하세요.

> 예시
- "The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog" 
- -> 3635

In [ ]:
# # 여기에 코드를 작성하세요
# def kkk(word):
#     a=""
#     b=[]
#     while type(word[0]) != str:
#         word[1:]
#     while type(word[0]) == str:
#         if not word:
#             break
#         a += word[0]
#         word[1:]
#         b.append(a)
#         a=""
#     c = map(int, b)
#     return sum(c)
    
# print(kkk("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog"))

In [1]:
def kkk(foo):
    for x in foo:
        #숫자가 아니면 공백으로
        if not x.isdigit():
            foo = foo.replace(x,' ')
    return sum(map(int, foo.split()))
            


print(kkk("The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog"))

3635

In [ ]:
sum([1, 2, 3])