In [165]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [5]:
a = "hI! Everyone, I'm kim"
a.capitalize()

"Hi! everyone, i'm kim"

In [6]:
a.title()

"Hi! Everyone, I'M Kim"

In [7]:
a.upper()

"HI! EVERYONE, I'M KIM"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [8]:
a.lower()

"hi! everyone, i'm kim"

In [9]:
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [10]:
'!'.join('배불러')

'배!불!러'

In [14]:
a=['hi', 'bye']
'_'.join(a)

'hi_bye'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [15]:
'yay!'.replace('a','_')

'y_y!'

In [16]:
'wooooooow'.replace('o', '',3)

'woooow'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [225]:
'         oh!\n'.strip()

'oh!'

In [18]:
'           oh!\n'.lstrip()

'oh!\n'

In [19]:
'           oh!\n'.rstrip()

'           oh!'

In [20]:
'hihihihihihihihi'.rstrip('hi')

''

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [37]:
'apple'.find('p')

1

In [38]:
'apple'.find('g')

-1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [39]:
'apple'.index('p')

1

In [40]:
'apple'.index('g')

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환

`.isalpha()` : 문자열이 오직 알파벳으로만 구성되어있으면 True (공백 포함 False)

- 문자열의 모든 문자가 10진 숫자문자일 때 True

 - `.isdecimal()` : (Only Decimal Numbers)

 - `.isdigit()` : (Decimals, Subscripts, Superscripts)

 - `.isnumeric()` : (Digits, Vulgar Fractions, Subscripts, Superscripts, Roman Numerals, Currency Numerators)

`.isspace()` : 모두 공백문자이면 True

`.isupper()` : 모두 대문자이면 True

`.istitle()` : 모든 문자열이 title 스타일 (단어마나 첫글자가 대문자) 이면 True

`.islower()` : 모두 소문자이면 True

In [21]:
text = 'alpha3'

In [22]:
text2 = 'alphathree'

In [26]:
text3 = 'alpha three'

In [23]:
text.isalpha()

False

In [24]:
text2.isalpha()

True

In [27]:
text3.isalpha()

False

In [51]:
print("78".isdecimal())
print("78".isdigit())
print("78".isnumeric())

True
True
True

In [47]:
#superscript
print('\u00B2')
print('\u00B2'.isdecimal())
print('\u00B2'.isdigit())
print('\u00B2'.isnumeric())

²
False
True
True

In [48]:
#Vulgar Fractions
print('\u00BC')
print('\u00BC'.isdecimal())
print('\u00BC'.isdigit())
print('\u00BC'.isnumeric())

¼
False
False
True

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [54]:
'a_b_c'.split('_')

['a', 'b', 'c']

In [55]:
inputs = input().split()
print(inputs)

3 4 5 6 f d s a
['3', '4', '5', '6', 'f', 'd', 's', 'a']

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [95]:
# 리스트 하나를 만들어봅시다.
cafe = ['starbucks', 'tomntoms', 'hollys']

In [96]:
# 값을 추가해봅시다..
cafe.append('droptop')

In [97]:
# 어렵게 넣어보도록 해봅시다.
cafe[len(cafe):]=['ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [98]:
# 앞서 만든 리스트에 추가해봅시다.
cafe.extend(['angel', 'bbaek'])

In [99]:
# 앞서 배운 list concatenate와 동일합니다.
cafe += ['mcafe', 'coffeebean']

In [100]:
# append와 비교해봅시다.
cafe.append( ['cafebenne'])

In [101]:
cafe.extend('twosome')

In [102]:
print(cafe)

['starbucks', 'tomntoms', 'hollys', 'droptop', 'ediya', 'angel', 'bbaek', 'mcafe', 'coffeebean', ['cafebenne'], 't', 'w', 'o', 's', 'o', 'm', 'e']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [103]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어주세요.
cafe.insert(0, 'sulbing')

In [104]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어주세요.
cafe.insert(len(cafe), 'bye')

In [105]:
print(cafe)

['sulbing', 'starbucks', 'tomntoms', 'hollys', 'droptop', 'ediya', 'angel', 'bbaek', 'mcafe', 'coffeebean', ['cafebenne'], 't', 'w', 'o', 's', 'o', 'm', 'e', 'bye']

In [108]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
cafe.insert(len(cafe)+10, '!')

In [109]:
print(cafe)

['sulbing', 'starbucks', 'tomntoms', 'hollys', 'droptop', 'ediya', 'angel', 'bbaek', 'mcafe', 'coffeebean', ['cafebenne'], 't', 'w', 'o', 's', 'o', 'm', 'e', 'bye', '!']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [110]:
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [111]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [112]:
# 한번 더 삭제해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 2]

In [113]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)
print(numbers)

ValueError: list.remove(x): x not in list

In [114]:
list.remove.__doc__

'L.remove(value) -> None -- remove first occurrence of value.\nRaises ValueError if the value is not present.'

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환(return)합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [115]:
a = [1, 2, 3, 4, 5, 6]

In [116]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

1

In [117]:
print(a)

[2, 3, 4, 5, 6]

In [118]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
print(a)
deleted_value = a.pop()
print(f'{deleted_value}가 삭제되어 {a}가 되었습니다.')

[2, 3, 4, 5, 6]
6가 삭제되어 [2, 3, 4, 5]가 되었습니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [121]:
a = [1, 2, 3, 4, 5]
a.index(3)

2

In [122]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(100)

ValueError: 100 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [124]:
a = [1, 2, 5, 1, 5, 1]
a.count(1)

3

In [127]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
a = [1, 2, 5, 1, 5, 1]
for i in range(a.count(1)):
    a.remove(1)
    
print(a)

[2, 5, 5]

In [128]:
a = [1, 2, 5, 1, 5, 1]
target_value = 1
for i in range(a.count(target_value)):
    a.remove(target_value)
print(a)

[2, 5, 5]

In [129]:
# 모두 삭제되었는지 검증해봅시다.
target_value in a

False

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [150]:
import random

lotto = random.sample(range(1,46),6)
lotto.sort()
print(lotto)

[7, 12, 13, 14, 21, 33]

In [143]:
from pprint import pprint
pprint(random.choice.__doc__)

'Choose a random element from a non-empty sequence.'

In [152]:
import random

lotto = random.sample(range(1,46),6)
lotto.sort(reverse=True)
print(lotto)

[44, 36, 20, 16, 7, 4]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [155]:
classroom = ['대전', '서울', '광주', '구미']
classroom.reverse()
print(classroom)
print(classroom.reverse())

['구미', '광주', '서울', '대전']
None

## 복사

In [157]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]
copy_list = original_list
print(original_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [158]:
print(original_list)
# b의 값을 바꾸고 a를 출력해봅시다.
copy_list[0] = 5
print(original_list)
print(copy_list)

[1, 2, 3]
[5, 2, 3]
[5, 2, 3]

In [159]:
print(id(copy_list) == id(original_list))

True

In [160]:
print(copy_list is original_list)

True

In [174]:
# 숫자를 확인해봅시다.
a = 20005
b = a
b = 30005
print(a)
print(b)

20005
30005

In [175]:
a = 20005
b = a
a = 30005
print(a)
print(b)

30005
20005

In [163]:
# 딕셔너리도 확인해봅시다.
lunch = {
    '김밥천국': '치즈라면',
    '김가네': '제육볶음'
}
print(lunch)

{'김밥천국': '치즈라면', '김가네': '제육볶음'}

In [164]:
dinner = lunch
dinner['김밥천국']= '참치김밥'
print(lunch)

{'김밥천국': '참치김밥', '김가네': '제육볶음'}

In [167]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='500px')

In [169]:
IFrame('https://goo.gl/N43pw6', width='100%', height='500px')

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 num이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [176]:
a = [1, 2, 3]
b = a[:]
b[0] = 5
print(a)

[1, 2, 3]

In [177]:
a = [1, 2, 3]
b = list(a)
b[0] = 5
print(a)

[1, 2, 3]

In [ ]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [179]:
a = [1, 2, [1, 2]]
b = a[:]
b[2][0] = 3
print(a)

[1, 2, [3, 2]]

In [ ]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [181]:
import copy
a = [1, 2, [1, 2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a)
print(b)

[1, 2, [1, 2]]
[1, 2, [3, 2]]

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제

리스트의 모든 항목을 삭제합니다.

In [182]:
numbers = list(range(1, 46))
numbers.clear()
print(numbers)

[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

`[ 식 for 변수 in 리스트 ]`

`list(식 for 변수 in 리스트)` => # not good

- 리스트 컴프리헨션의 반복은 인터프리터 내부에서 C언어의 속도로 실행되기 때문에,
일반 for 반복문보다 최대 2배 빠르게 실행 되기도 한다.

In [185]:
even_list = []
for x in range(1, 6):
    even_list.append(x*2) #식
print(even_list)

[2, 4, 6, 8, 10]

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [186]:
even_list = [ x*2 for x in range(1, 6)]
print(even_list)

[2, 4, 6, 8, 10]

In [187]:
cubic_list = [x**3 for x in range(1, 11)]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 성 추출하기

> 리스트 컴프리헨션을 사용하여 `names` 리스트 요소 이름의 성만을 모아 `first_name` 로 만들어주세요.(소문자로)

```python
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

print(first_names)
```

In [191]:
names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"]

In [222]:
# 아래에 반복문을 활용하여 만들어주세요.
first_name = []
for i in names:
    first_name.append(i.split()[0].lower())

In [203]:
# 아래에 List comprehension을 활용하여 만들어주세요.
first_name = [x.split()[0].lower() for x in names]

In [207]:
print(first_name)

['rick', 'morty', 'summer', 'jerry', 'beth']

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

리스트 표현식에 for가 여러 개일 때 처리 순서는 뒤에서 앞으로 순서이다.

`[식 for 변수1 in 리스트1 if 조건식1 for 변수2 in 리스트2 if 조건식2]`

`[식 for 변수 in 리스트 if 조건식]`

`[식 if 조건식 else 조건식 for 변수 in 리스트 ]`

## 연습 문제
### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```python
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [209]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [219]:
# 아래에 반복문을 활용하여 만들어주세요.
pair = []
for i in girls:
    for j in boys:
        b = (j, i)
        pair.append(b)
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [220]:
# 아래에 List comprehension을 활용하여 만들어주세요.
# a = (girls[1], boys[1])
# print(a)

pair = [(j,i) for i in girls for j in boys]
print(pair)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# 아래에 List comprehension을 활용하여 만들어주세요.

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 아래에 반복문을 활용하여 만들어주세요.

In [ ]:
# 아래에 List comprehension을 활용하여 만들어주세요.